<ul>
    <li>
       <h1> Partial </h1>
    </li>
    <li>
       <a href='/coins'> Cadastro de Moedas </a>
    </li>
    <li>
       <%= link_to 'Cadastro de Moedas via link_to', coins_path %>
    </li>
</ul>