<ul>
    <li>
       <h1> Menu (usando partial) </h1>
    </li>
    <li>
       <a href='/coins'> Cadastro de Moedas </a>
    </li>
    <li>
       <%= link_to 'Cadastro de Moedas via link_to', coins_path %>
    </li>
    <li>
       <a href='/mining_types'> Cadastro de Tipos de Mineração </a>
    </li>
    <li>
       <%= link_to 'Cadastro de Tipos de Mineração', mining_types_path %>
    </li>
</ul>